body {

	font-family: 'Berkshire Swash', cursive;

	background-image: url('../images/gifts.jpg'); background-size: cover; background-attachment: fixed;
	margin: 20px;


h1{
	//display: inline-block;
	margin-left: auto;
	margin-right: auto;
}


@media screen and (min-width: 810px) {
	.float {
		float: left;
		margin: 15px;
		width: 50%; }
	.wrapper {
		padding: 10px; }
	.cleared {
		clear: right; } }

.myflex {
	@media screen and (max-width: 750px) {
		flex-direction: column;
	}
	display: flex;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	clear: both; }


.divArticle {
margin-left: auto
}




.heading {
	text-align: center;
	background-color: white;
	width: 550px;
	border: solid;
	border-color: black;
	border-width: medium;

}

.buttonalign {
	text-align: center;
	display: flex;
	justify-content: center;
}

.catimage {
	height: 500px;
}

.dogimageDiv{
	display: flex;
	justify-content: center;
	margin-top: 100px;
}


.paragraphalign {
	text-align: center;
	display: flex;
	justify-content: center;
}

.buttonmargin {
	margin-left: 10px;
	margin-right: 10px;
}

.paragraphtext {
	font-size: 2rem;
}
.imageHidden {
	visibility: hidden;
}
.imageinitial {
	display: none;
}
}
